
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.jakarta-font{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.jakarta-font-bold{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.btn-primary{
  @apply bg-[#DBE8F2] hover:bg-[#cce2f3] transition-all duration-200 py-4 px-8 rounded-full cursor-pointer
}
.btn-secondary{
  @apply bg-[#EBEDF2] hover:bg-[#daefff] transition-all duration-200 py-4 px-8 rounded-full cursor-pointer
}

.creator-img{
  @apply w-[301px] h-[301px] object-cover rounded-lg hover:scale-110 transition-all duration-300 cursor-pointer
}